{% extends 'base.html' %}

{% load common %}
{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <header><img src="{% static 'img/header.png' %}" alt="Natalia & Pablo - 27 de Abril del 2013" /></header>
    <nav>
        <ul>
            <li class="to-home" tabindex="0">Inicio</li>
            <li class="to-rsvp" tabindex="0">RSVP</li>
            <li class="to-map" tabindex="0">Mapa</li>
        </ul>
    </nav>
    <ul class="player">
        <li class="current"></li>
        <li class="play">Pause</li>
        <li class="next">Next</li>
    </ul>
    <div class="background"><div></div></div>
    <div class="window map">
        <div class="window-box">
            <h1><i class="icon-ornament-left"></i> Mapa <i class="icon-ornament-right"></i></h1>
            <div id="map" class="window-content"></div>
        </div>
    </div>
    <div class="window rsvp">
        <div class="window-box">
            <h1><i class="icon-ornament-left"></i> RSVP <i class="icon-ornament-right"></i></h1>
            <div id="rsvp" class="window-content">
                {% include 'rsvp.html' %}
            </div>
        </div>
    </div>
    <div class="window card" {% if card %}style="display: block;"{% endif %}>
        <div class="window-box">
            <div id="card" class="window-content">
                <div>
                    <img src="{% static 'img/card.png' %}" />
                    <p>{{ group.name|remove_accents }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script>
        window.STATIC_URL = '{% static '' %}';
        window.CODE = {% if group %}'{{ group.code }}'{% else %}null{% endif %};
    </script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_API_KEY }}&sensor=false"></script>
    <script src="{% static 'vendor/soundmanager2/js/soundmanager2.js' %}"></script>
    <script>
        window.songs = [
            {% for song in songs %}
                {
                    id: "song-{{ forloop.counter0 }}",
                    artist: "{{ song.artist }}",
                    title: "{{ song.title }}",
                    url: "{{ song.path.url }}"
                },
            {% endfor %}
        ];
        window.locations = [
            {% for location in locations %}
                {
                    id: "location-{{ forloop.counter0 }}",
                    title: "{{ location.title|escapejs }}",
                    content: "{{ location.content|escapejs }}",
                    css: '{{ location.css }}',
                    latitude: {{ location.latitude }},
                    longitude: {{ location.longitude }},
                    icon: '{{ location.icon.url }}'
                },
            {% endfor %}
        ];
    </script>
    <script src="{% static 'js/infobox.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}