{% load common %}

{% if group %}
<div class="confirm">
    <ul>
    {% for guest in group.guests_ordered %}
        <li data-id="{{ guest.id }}">
            <p>{{ guest.alias|remove_accents }}</p>
            <span tabindex="0" class="attendance{% if guest.attendance == 'Y' %} active{% endif %}">Voy</span>
            <span tabindex="0" class="celiac{% if guest.celiac %} active{% endif %}">Celiaco</span>
        </li>
    {% endfor %}
    </ul>
    <textarea placeholder="Dejanos un mensaje...">{{ group.message|default:'' }}</textarea>
    <div class="footer">
        <i class="icon-green-gift"></i>
        <p>
            Cuenta Itau $u: 5300512<br>
            Cuenta Itau u$s:  8565862br<br>
            Colectivo RedPagos $u / u$s: 38523
        </p>
        <input type="button" value="Hecho!" />
    </div>
</div>
{% else %}
<div class="code">
    <span>RSVP: nataliaygerardo.com/</span><input placeholder="Codigo" type="text" id="rsvp-code"><input type="button" value="Chequear" />
</div>
{% endif %}