@font-face {
    font-family: 'JennaSueRegular';
    src: url('../fonts/JennaSue-webfont.eot');
    src: url('../fonts/JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JennaSue-webfont.woff') format('woff'),
    url('../fonts/JennaSue-webfont.ttf') format('truetype'),
    url('../fonts/JennaSue-webfont.svg#JennaSueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FjallaOneRegular';
    src: url('../fonts/Fjallaone-regular-webfont.eot');
    src: url('../fonts/Fjallaone-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Fjallaone-regular-webfont.woff') format('woff'),
    url('../fonts/Fjallaone-regular-webfont.ttf') format('truetype'),
    url('../fonts/Fjallaone-regular-webfont.svg#FjallaOneRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JacquesFrancoisRegular';
    src: url('../fonts/JacquesFrancois-regular-webfont.eot');
    src: url('../fonts/JacquesFrancois-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/JacquesFrancois-regular-webfont.woff') format('woff'),
    url('../fonts/JacquesFrancois-regular-webfont.ttf') format('truetype'),
    url('../fonts/JacquesFrancois-regular-webfont.svg#JacquesFrancoisRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}