<!DOCTYPE html>

{% load static from staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Natalia & Gerardo - 21 de Diciembre del 2013</title>
        <meta name="description" content="Natalia & Gerardo - 21 de Diciembre del 2013">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block css %}{% endblock %}

    </head>
    <body>

        {% block content %}{% endblock %}

        <script src="{% static 'vendor/jquery/jquery.js' %}"></script>
        {% block js %}{% endblock %}

    </body>
</html>
