html, body {
    height: 100%;
    overflow: hidden;
}

header {
    top: -5px;
    left: 50%;
    margin-left: -167px;
    position: fixed;
    z-index: 1;
    width: 333px;
    height: auto;
}

header img {
    width: 100%;
    height: auto;
    display: block;
}

nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 50;
}

nav ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 20;
}

nav ul li {
    float: left;
    margin: 0 8px;
    display: block;
    padding: 4px 8px 2px;
    font-family: 'Cantata One', serif;
    background: #999999;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 130%;
    cursor: pointer;
    outline: 0;
}

nav ul li:hover {
    color: #999999;
    background: #fff;
}

.player {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 50;
    margin: 0;
    padding: 0;
    list-style: none;
}

.player li {
    float: left;
    margin: 0 8px;
    display: block;
    padding: 4px 8px 2px;
    font-family: 'Cantata One', serif;
    background: #999999;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 140%;
    cursor: pointer;
    outline: 0;
}

.player li.current {
    display: none;
}

.player li:hover {
    color: #999999;
    background: #fff;
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}

.background div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    background-image: url(../img/background.jpg);
    opacity: 1;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    -webkit-animation: show 1s linear, rotate 50s linear infinite 1s;
    -moz-animation: show 1s linear, rotate 50s linear infinite 1s;
    -o-animation: show 1s linear, rotate 50s linear infinite 1s;
    -ms-animation: show 1s linear, rotate 50s linear infinite 1s;
    animation: show 1s linear, rotate 50s linear infinite 1s;
}

@-webkit-keyframes show {
    0% {
        opacity: 0.5;
        -webkit-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        -webkit-animation-timing-function: ease-out;
    }
}
@-moz-keyframes show {
    0% {
        opacity: 0.5;
        -moz-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1.05);
        -moz-animation-timing-function: ease-out;
    }
}
@-o-keyframes show {
    0% {
        opacity: 0.5;
        -o-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -o-transform: scale(1.05);
        -o-animation-timing-function: ease-out;
    }
}
@-ms-keyframes show {
    0% {
        opacity: 0.5;
        -ms-animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1.05);
        -ms-animation-timing-function: ease-out;
    }
}
@keyframes show {
    0% {
        opacity: 0.5;
        animation-timing-function: ease-in;
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
        animation-timing-function: ease-out;
    }
}


@-webkit-keyframes rotate {
    0% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -webkit-transform: scale(1.3) rotate(3deg);
    }
    75% {
        opacity: 1;
        -webkit-transform: scale(1.3) rotate(-3deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }
}
@-moz-keyframes rotate {
    0% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -moz-transform: scale(1.3) rotate(3deg);
    }
    75% {
        opacity: 0;
        -moz-transform: scale(1.3) rotate(-3deg);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1.05);
    }
}
@-o-keyframes rotate {
    0% {
        opacity: 1;
        -o-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -o-transform: scale(1.3) rotate(3deg);
    }
    75% {
        opacity: 1;
        -o-transform: scale(1.3) rotate(-3deg);
    }
    100% {
        opacity: 1;
        -o-transform: scale(1.05);
    }
}
@-ms-keyframes rotate {
    0% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
    25% {
        opacity: 1;
        -ms-transform: scale(1.3) rotate(3deg);
    }
    75% {
        opacity: 1;
        -ms-transform: scale(1.3) rotate(-3deg);
    }
    100% {
        opacity: 1;
        -ms-transform: scale(1.05);
    }
}
@keyframes rotate {
    0% {
        opacity: 1;
        transform: scale(1.05);
    }
    25% {
        opacity: 1;
        transform: scale(1.3) rotate(3deg);
    }
    75% {
        opacity: 1;
        transform: scale(1.3) rotate(-3deg);
    }
    100% {
        opacity: 1;
        transform: scale(1.05);
    }
}

.window {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(30, 30, 30, 0);
    display: none;
    z-index: 2;
}

.window h1 {
    margin: 20px auto 10px;
    font-family: 'Cantata One', serif;
    color: #999999;
    text-transform: uppercase;
    font-weight: normal;
    text-align: center;
}

.window-box {
    background-color: #ffffff;
    display: block;
    width: 50%;
    left: 25%;
    position: absolute;
    top: 130px;
    bottom: 30px;
}

.window-content {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    top: 70px;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #999999;
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

@media (max-width: 640px) {
    nav {
        position: fixed;
        display: table;
        width: 100%;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }
    nav ul {
        display: table-row;
        margin: 0;
        padding: 0;
        border-collapse: collapse;
    }
    nav ul li {
        float: none;
        display:table-cell;
        margin: 0;
        padding: 0;
        text-align: center;
        height: 34px;
        line-height: 34px;
        vertical-align: middle;
    }
    ul.player {
        display: none;
    }

    .window-box {
        bottom: 34px;
        width: auto;
        left: 0;
        right: 0;
    }

    .rsvp .confirm {
        padding: 0 15px;
    }

}

@media (max-width: 416px) {
    header {
        left: 10%;
        width: 80%;
        margin-left: auto;
    }
    .window-box {
        top: 23%;
    }
}


.infobox {
    position: absolute;
    background-color: #999999;
    width: 260px;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.infobox .infobox-close {
    display: block;
    background: transparent url(../img/icons.png) -150px -120px no-repeat;
    width: 13px;
    height: 13px;
    float: right;
    cursor: pointer;
    margin: 6px 6px 0 0;
}

.infobox i[class^="icon-"],
.infobox i[class*=" icon-"] {
    display: block;
    margin: 10px auto 0;
}

.infobox h1 {
    font-weight: normal;
    font-family: 'Cantata One', serif;
    color: #ffffff;
    padding: 0;
    margin: 10px;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
}

.infobox p {
    margin: 0 10px 10px 10px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    font-family: JacquesFrancoisRegular;
    font-size: 14px;
}

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    vertical-align: text-top;
    background-image: url("../img/icons.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.icon-gift {
    background-position: 0 0;
}

.icon-white-gift {
    background-position: 0 -40px;
}

.icon-green-gift {
    background-position: 0 -80px;
}

.icon-rsvp {
    background-position: -40px 0;
}

.icon-white-rsvp {
    background-position: -40px -40px;
}

.icon-cake {
    background-position: -80px 0;
}

.icon-white-cake {
    background-position: -80px -40px;
}

.icon-cups {
    background-position: -120px 0;
}

.icon-white-cups {
    background-position: -120px -40px;
}

.icon-church {
    background-position: -160px 0;
}

.icon-white-church {
    background-position: -160px -40px;
}

.icon-rings {
    background-position: -200px 0;
}

.icon-white-rings {
    background-position: -200px -40px;
}

.icon-ornament-left {
    display: inline-block;
    line-height: 35px;
    vertical-align: text-top;
    background-position: 0 -120px;
    width: 75px;
    height: 35px;
}

.icon-ornament-right {
    display: inline-block;
    line-height: 35px;
    vertical-align: text-top;
    background-position: -75px -120px;
    width: 75px;
    height: 35px;
}

.card .window-box {
    background-color: transparent;
}

.card .window-content {
    text-align: center;
    top: 10px;
}

.card .window-content div {
    width: 510px;
    height: 340px;
    margin: 0 auto;
}

.card .window-content img {
    width: 510px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.card .window-content p {
    position: relative;
    font-family: JennaSueRegular, Courier;
    color: #000000;
    font-size: 180%;
    margin: -196px 0 0 284px;
    padding: 0;
    line-height: 26px;
    background-color: transparent;
    width: 202px;
    word-wrap: break-word;
    text-align: left;
    z-index: 1;
}

.rsvp .confirm {
    padding: 0 30px;
}

.rsvp .confirm ul {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.rsvp .confirm ul li {
    margin: 0;
    text-align: right;
    padding: 0 4px;
}

.rsvp .confirm ul li:after,
.rsvp .confirm ul li:before {
    content: " ";
    display: table;
}

.rsvp .confirm ul li:after {
    clear: both;
}

.rsvp .confirm ul li {
    *zoom: 1;
}

.rsvp .confirm ul li p {
    float: left;
    font-family: 'Antic Didone', serif;
    text-align: left;
    font-size: 26px;
    line-height: 40px;
    vertical-align: middle;
    margin: 0;
}

.rsvp .confirm ul li span {
    text-align: center;
    display: inline-block;
    margin: 4px 2px 0 2px;
    padding: 4px 8px 2px;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 140%;
    cursor: pointer;
    outline: 0;
    background: #c1c1c1;
    color: #fff;
}

.rsvp .confirm ul li span.active {
    background: #999999;
    color: #fff;
}

.rsvp .confirm textarea {
    border: 0;
    width: 100%;
    height: 60px;
    font-family: 'Antic Didone', serif;
    font-size: 30px;
    outline: 0;
    resize: none;
    color: #999999;
}

.rsvp .confirm .footer {
    height: 50px;
}

.rsvp .confirm .footer i {
    float: left;
    margin: 6px 0 0 -6px;
}

.rsvp .confirm .footer p {
    float: left;
    font-family: 'Antic Didone', serif;
    font-size: 24px;
    margin: 0 0 0 6px;
}

.rsvp .confirm .footer input {
    float: right;
    text-align: center;
    padding: 4px 8px 2px;
    border: 0;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 140%;
    cursor: pointer;
    outline: 0;
    background: #999999;
    color: #fff;
    margin: 10px 0 0 0;
}

.rsvp .confirm .footer input:hover,
.rsvp .confirm .footer input:active {
    background: #ffffff;
    color: #999999;
}

.rsvp .code {
    padding: 30px;
    text-align: center;
}

.rsvp .code span {
    font-family: 'Antic Didone', serif;
    font-size: 30px;
}

.rsvp .code input[type=text] {
    width: 4em;
    font-size: 24px;
    border: 0;
    border-bottom: 1px solid #c1c1c1;
    outline: 0;
    font-family: 'Antic Didone', serif;
    font-size: 30px;
    text-transform: uppercase;
}

.rsvp .code input[type=button] {
    text-align: center;
    padding: 4px 8px 2px;
    border: 0;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 140%;
    cursor: pointer;
    outline: 0;
    background: #999999;
    color: #fff;
    margin: 0 0 0 10px;
}

.rsvp .code input[type=button]:hover {
    background: #fff;
    color: #999999;
}

.toast {
    padding: 10px;
    font-family: 'Cantata One', serif;
    text-transform: uppercase;
    background: #999999;
    color: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    font-size: 140%;
}